html{
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

h1{
    font-size: 100px;
}

.add-new{

}

#list{
    width: 20%;
    margin: 0 auto;

}

.checkbox{
    float: left;
}

.item-name{
    display: inline-block;
    float: left;
    font-size: 24px;
}

.button{
    float: left;

}